div{
    background-color: blue;
    width: 200px;
    height: 200px;
    position: absolute;
    left: 0px;
}

.div{
    height: 200px;
    background-color: green;
    width: 200px;
    position: absolute;
    right: 0px;
}